<!-- mostra as veagnes do utilizador-->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8"> <h2 class="text-center mb-4">Minhas Viagens</h2>
            <% if (viagens.length > 0) { %>
                <% viagens.forEach(viagem => { %>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h4 class="mb-0">
                                <%= viagem.origem %> - <%= viagem.destino %>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Data:</strong> <%= viagem.data.toLocaleDateString('pt') %></p>
                                    <p><strong>Hora de Partida:</strong> <%= viagem.hora_partida %></p>
                                    <p><strong>Hora de Chegada:</strong> <%= viagem.hora_chegada %></p>
                                    <p><strong>Preço:</strong> <%= viagem.preco %>€</p>
                                    <p><strong>Passageiros:</strong> <%= viagem.n_passageiros %></p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Método de Pagamento:</strong> <%= viagem.mtd_pagamento %></p>
                                    <p><strong>Data da Reserva:</strong> <%= viagem.dta_registo.toLocaleDateString('pt') %></p>
                                    <p><strong>ID do Autocarro:</strong> <%= viagem.id_autocarro %></p>
                                    <p>
                                        <% if (viagem.paragens) { %>
                                            <strong>Paragens:</strong>
                                            <ul class="mb-2">
                                                <% viagem.paragens.split(',').forEach(paragem => { %>
                                                <li><%= paragem %></li>
                                                <% }) %>
                                            </ul> 
                                        <% } else { %>
                                            <p><em>Sem paragens.</em></p>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% })} else { %>
                    <p class="text-center">Você ainda não fez nenhuma reserva.</p>
                <% } %>
        </div>
    </div>
</div>