<!-- lista de paragens-->
<div class="container mt-4">
  <div class="table-responsive">
    <h2 class="text-center mb-4">Lista de Paragens</h2>
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome da Paragem</th>
          <th scope="col">Hora da Paragem</th>
          <th scope="col" class="text-center">Data de registo</th>
          <th scope="col" class="text-center">Data da última atualização</th>
          <th scope="col" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>

        <% paragens.forEach((paragem)=> { %>
          <tr>
            <td scope="row">
              <%= paragem.id_paragem %>
            </td>
            <td>
              <%= paragem.paragem_nome %>
            </td>
            <td>
              <%= paragem.hora_paragem %>
            </td>
            <td class="col text-center">
              <%= paragem.dta_registo.toLocaleDateString('pt') %>
            </td>
            <td class="col text-center">
              <%= paragem.dta_atualizacao.toLocaleDateString('pt') %>
            </td>
            <td class="text-center">
              <a class="edit" title="" data-toggle="tooltip" data-original-title="Editar"
                href="http://localhost:5000/paragens/<%- paragem.id_paragem %>"><i class="fas fa-pencil-alt" style="color: black"></i></a>&nbsp;&nbsp;
              <a class="delete" title="" data-toggle="tooltip" data-original-title="Apagar"
                href="http://localhost:5000/paragens/delete/<%- paragem.id_paragem %>"><i class="fas fa-trash-alt"
                  style="color: black"></i></a>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</div>