<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SinFrontera</title>
    
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="/css/style.css">
    <!-- CSS do Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">

    <script src="/js/popper.min.js" defer></script>
    <script src="/js/bootstrap.min.js" defer></script>
    
  </head>
  <body>
    <header>
      <%- include("../partials/components/navbar/index") %>
    </header>
    <main>
      <% if (typeof op !="undefined" && op==1) { %> <!--executa as rotas e partiels faz interligação dos links -->
        <%- include('../partials/utilizadores/login'); -%>
      <% } else if (typeof op !="undefined" && op==2) { %>
        <%- include('../partials/utilizadores/create'); -%>
      <% } else if (typeof op !="undefined" && op==3) { %>
        <%- include('../partials/utilizadores/update', { utilizador: dados }); -%>
      <% } else if (typeof op !="undefined" && op==4) { %>
        <%- include('../partials/reservas/index', { viagens: dados }); -%>
      <% } else if (typeof op !="undefined" && op==5) { %>
        <%- include('../partials/reservas/create', { viagem: dados }); -%>
      <% } else if (typeof op !="undefined" && op==6) { %>
        <%- include('../partials/reservas/list', { viagens: dados }) ; -%>
      <% } else if (typeof op !="undefined" && op==7) { %>
        <%- include('../partials/utilizadores/index', { utilizadores: dados }) ; -%>
      <% } else if (typeof op !="undefined" && op==8) { %>
        <%- include('../partials/viagens/index', { viagens: dados }) ; -%>
      <% } else if (typeof op !="undefined" && op==9) { %>
        <%- include('../partials/viagens/create'); -%>
      <% } else if (typeof op !="undefined" && op==10) { %>
        <%- include('../partials/viagens/update', { viagem: dados }); -%>
      <% } else if (typeof op !="undefined" && op==11) { %>
        <%- include('../partials/paragens/index', { paragens: dados }) ; -%>
      <% } else if (typeof op !="undefined" && op==12) { %>
        <%- include('../partials/paragens/create'); -%>
      <% } else if (typeof op !="undefined" && op==13) { %>
        <%- include('../partials/paragens/update', { paragem: dados }); -%>
      <% } else if (typeof op !="undefined" && op==14) { %>
        <%- include('../partials/viagens_paragens/index', { viagens_paragens: dados }) ; -%>
      <% } else if (typeof op !="undefined" && op==15) { %>
        <%- include('../partials/viagens_paragens/create', { viagens_paragens: dados }); -%>
      <% } else if (typeof op !="undefined" && op==16) { %>
        <%- include('../partials/autocarros/index', { autocarros: dados }) ; -%>
      <% } else if (typeof op !="undefined" && op==17) { %>
        <%- include('../partials/autocarros/create', { viagens: dados }); -%>
      <% } else if (typeof op !="undefined" && op==18) { %>
        <%- include('../partials/autocarros/update', { autocarro: dados }); -%>
      <% } else if (typeof op !="undefined" && op==19) { %>
        <%- include('../partials/reservas/confirmation', { viagem: dados }); -%>
      <% } else { %>
        <%- include("../partials/components/main/index") %>
      <% }%>
    </main>
    <!-- Footer -->
    <%- include("../partials/components/footer/index") %>
  </body>
</html>
