<!-- mostra as veagens disponivels-->
<div class="container my-5">
    <h2 class="text-center mb-4">Viagens Disponiveis</h2>
    <div class="row">
        <% if (Array.isArray(viagens) && viagens.length > 0) { %>
          <% viagens.forEach(viagem => { %>
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title"><%= viagem.origem %> - <%= viagem.destino %></h5>
                  <p class="card-text">
                    <strong>Data:</strong> <%= viagem.data.toLocaleDateString('pt') %><br />
                    <strong>Hora de Partida:</strong> <%= viagem.hora_partida %><br />
                    <strong>Hora de Chegada:</strong> <%= viagem.hora_chegada %><br />
                    <strong>Capacidade:</strong> <%= viagem.capacidade - viagem.passageiros_reservados %><br />
                    <strong>Preço:</strong> <%= viagem.preco %>€
                  </p>
                  <% if (viagem.paragens) { %>
                    <div>
                      <strong>Paragens:</strong>
                        <ul class="mb-2">
                          <% viagem.paragens.split(',').forEach(paragem => { %>
                            <li><%= paragem %></li>
                          <% }) %>
                        </ul>
                      </div>
                  <% } else { %>
                      <p><em>Sem paragens.</em></p>
                  <% } %>
                  <a href="<%= user ? 'http://localhost:5000/reservas/' + viagem.id_viagem : '/login' %>" class="btn custom-btn w-100">Reservar</a>
                </div>
              </div>
            </div>
          <% }); %>
        <% } else { %>
          <p class="text-center">Nenhuma viagem disponível para os critérios selecionados.</p>
        <% } %>
    </div>
</div>